# Ollama Configuration
OLLAMA_BASE_URL=""
OLLAMA_EMBED_MODEL=""
OLLAMA_CHAT_MODEL=""

# Redis Configuration
REDIS_BASE_URL=""
REDIS_VECTOR_INDEX_NAME=""
REDIS_VECTOR_KEY_PREFIX=""
REDIS_VECTOR_DIM=""

# Hugging Face Dataset Configuration
HF_DATASET_NAME=""
HF_DATASET_QUESTION_FIELD=""
HF_DATASET_ANSWER_FIELD=""